---
title: Página inicial
---

# Instituto para Conservação de Tecnologias Livres

O ICTL -- Instituto para Conservação de Tecnologias Livres -- é uma associação
sem fins lucrativos cujo objetivo é promover a divulgação, o desenvolvimento e
a defesa do Software Livre. Além de desenvolver ações para o avanço do Software
Livre em geral, o Instituto também fornece uma estrutura institucional para
projetos de Software Livre, de forma que eles possam receber doações, realizar
despesas, e manter recursos.

## Últimas notícias [![RSS Feed](/img/rss-square-solid.svg)](/feed.xml)

<%= render('/blog_posts.md.erb', article_list: sorted_articles.first(2)) %>
