<% for article in @article_list %>
### [<%= article[:title] %>](<%= article.path %>)
_<%= Time.parse(article[:created_at]).strftime('%d/%m/%Y') %>_

<%= excerptize(strip_html(article.compiled_content), length: 400) %>
[[<em>continue lendo</em>]](<%= article.path %>)
<% end %>

