Copyright © <%= [2019, Date.today.year].uniq.join('-') %> Institute for the Conservation of Technologies that are Libre.
Except where explicitly stated to the contrary, the content of this page is licensed under the CreativeCommons
<a href="https://creativecommons.org/licenses/by-sa/4.0">Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)</a>
license.
