<li class="pure-menu-item <%= selected('/blog/') %>"><a href="/blog/" class="pure-menu-link">Blog</a></li>
<li class="pure-menu-item <%= selected('/projetos/') %>"><a href="/projetos/" class="pure-menu-link">Projetos</a></li>
<li class="pure-menu-item <%= selected('/sobre/', '/estatuto/', '/membros/')     %>"><a href="/sobre/" class="pure-menu-link">Sobre</a></li>
<li class="pure-menu-item <%= selected('/contato/')  %>"><a href="/contato/" class="pure-menu-link">Contato</a></li>
